@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    scroll-behavior: smooth;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("Images/Nature 6.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Style the header section */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

/* Navigation links */
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

/* Navigation link hover effect */
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

/* Navigation link hover animation */
.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}


.row {
    display: flex;
    height: 88%;
    align-items: center;
    align-content: center;
    padding-left: 500px;
}

.col {
    flex-basis: 50%;
}

.h1 {
    color: #fff;
    font-size: 100px;
    text-align: center;
}

.p {
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

#bot {
  width: 180px; 
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("Images/ANOTHER.png") no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-section {
    color: #162938;
    text-align: center;
    padding: 10px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    width: 92%;
    max-width: 1390px;
    height: 510px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow: auto;
}


.contact-page {
    color: grey;
    background: url(Images/Blue\ Beautiful\ Ocean\ Aerial\ Photography\ April\ Nature\ Desktop\ Wallpaper.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Contact Body styles 😭*/
.contact-body {
    background: url(Images/Nature\ 2.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 5;
    padding: 0;
    overflow: hidden;
}



.contact-us {
    color: #fff;
    align-self: center;
}

/* Contact container styles */
.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* Section styles */
.section {
    background-color: #cccccc80;
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
    height: 400px;
}

/* Heading styles */
.heading {
    margin-bottom: 15px;
}

/* Contact card styles */
.contact-card {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Icon styles */
.icon {
    margin-right: 10px;
    color: #333;
}

/* Text styles */
.text {
    color: #555;
}

/* Input and textarea styles */
.input,
.textarea,
.button {
    width: 100%;
    padding: 10px;
    background-color: #cccccc80;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Button styles */
.button {
    background-color: #333;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: #555;
}

.book {
    font-family: Arial, sans-serif;
}
.container-book {
    width: 80%;
    margin: 0 auto;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
label {
    font-weight: bold;

}

.book {
    display: flex;
    background: url("Images/Nature\ 6.jpg") no-repeat;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
}

.container-book {
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(200px);
    box-shadow: 0 0 10px rgba(0, 0, 5);
    padding: 20px;
}

/* Form title styles */
.form-box h1 {
    font-size: 2em;
    color:  #0c0933;
    text-align: center;
}

/* Input box styles */
.form-box input {
    position: relative;
    width: 100%;
    height: 30px;
    border-bottom: 2px solid #0c0933;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(20px);
}

.air-cont {
    width: 80%;
    height: auto;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3px 0 black;
    border: 2px solid black;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.air-text {
    color: #ffd0d0;
    padding: 10px;
    text-align: center;
}